# Copy this file to: config.yaml.local

server:
  host: "0.0.0.0"
  port: 9001
  workers: 2

transcription:
  max_file_size: 26214400
  max_duration: 1500
  allowed_formats: ["mp3", "wav", "m4a", "mp4", "mpeg", "webm"]
  model: "mlx-community/whisper-large-v3-mlx"
  use_modelscope: true # set to false if you can stably connect to huggingface
  dump_audio_dir: "tmp_audio"

logging:
  level: "INFO"
  format: "json"
